.header{
    padding: 0.5em;
    background-color: #fff;
    color: #4b5563;
    

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__h1{
    font-size: 1.2rem;
    margin-left: 0.5em;
}

.nav__ul{
    flex: 0.7;
    display: flex;
    font-size: 0.9rem;
    justify-content: space-evenly;
    gap: 1em;
}

.nav__ul li{
    cursor: pointer;
}
.nav__icons{
    flex: 0.1;
    display: flex;
    gap: 1em;
    margin-right: 0.4em;
    align-items: center;
}

.fa-search,.fa-shopping-cart{
    cursor: pointer;
}

.header-cart-length{
    margin-left: 5px;
}